<div>{{header}}</div>
    <div class="container">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <label for="lname">Id</label>
          <input type="number" id="fname" name="firstname" placeholder="Student Id" [ngModel]="student.id" name="id">
      
          <label for="lname">Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your name.." [ngModel]="student.name" name="name">
          
          <label for="lname">Email</label>
          <input type="text" id="lname" name="lastname" placeholder="Your Email.." [ngModel]="student.email" name="email">
    
          <label for="lname">Phone</label>
          <input type="number" id="lname" name="lastname" placeholder="Phone No..." [ngModel]="student.phone" name="phone">
    
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>